NODE-RED-BabaEletronica.json
[{"id":"b127bae0.237fd8","type":"tab","label":"Baba Eletronica","disabled":false,"info":""},{"id":"e5dfacd3.85516","type":"arduino in","z":"b127bae0.237fd8","name":"Som","pin":"5","state":"ANALOG","arduino":"461f762f.5e5618","x":164,"y":82.99999904632568,"wires":[["8155ae5b.a8806","57b589f1.7711d8"]]},{"id":"270650e8.d5d3","type":"debug","z":"b127bae0.237fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":675.0000038146973,"y":32.000000953674316,"wires":[]},{"id":"4537f710.979cb8","type":"arduino out","z":"b127bae0.237fd8","name":"Verde","pin":"3","state":"OUTPUT","arduino":"461f762f.5e5618","x":651.0000038146973,"y":243.00000286102295,"wires":[]},{"id":"2ef8569a.64889a","type":"ui_gauge","z":"b127bae0.237fd8","name":"","group":"c652ba1a.382fa8","order":0,"width":0,"height":0,"gtype":"gage","title":"Som","label":"","format":"{{value}}","min":"50","max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":659.0000038146973,"y":134.60000228881836,"wires":[]},{"id":"6b1c2a02.3c60c4","type":"inject","z":"b127bae0.237fd8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":228.9000129699707,"y":339.77778244018555,"wires":[[]]},{"id":"c7dd3904.aaf1a8","type":"inject","z":"b127bae0.237fd8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":234.5666732788086,"y":436.8888912200928,"wires":[[]]},{"id":"8155ae5b.a8806","type":"function","z":"b127bae0.237fd8","name":"Liga led","func":"var msg0 = { payload: msg.payload,topic:msg.topic };\nvar msg1 = { payload: msg.payload,topic:msg.topic };\nvar msgTexto = { payload: msg.payload,topic:msg.topic };\nmsg0.payload = 0;\nmsg1.payload = 1;\nmsgTexto.payload = 'O bebe acordou'\nif (msg.payload < 65 ) {\n   return [ msg1, msg0, msg0, null ];\n} else if ( msg.payload > 70 && msg.payload < 100) {\n    return [ msg1, msg1, msg0, null ];\n} else {\n    return [ msg1, msg1, msg1, msgTexto ];\n}\n\n","outputs":4,"noerr":0,"x":283.00000381469727,"y":233.00001049041748,"wires":[["4537f710.979cb8"],["e99e035e.43d0c"],["90e453f0.ceb1"],["7b311af8.d7ab94"]]},{"id":"e99e035e.43d0c","type":"arduino out","z":"b127bae0.237fd8","name":"Amerela","pin":"4","state":"OUTPUT","arduino":"461f762f.5e5618","x":659.0000267028809,"y":305.22224140167236,"wires":[]},{"id":"90e453f0.ceb1","type":"arduino out","z":"b127bae0.237fd8","name":"Vermelho","pin":"5","state":"OUTPUT","arduino":"461f762f.5e5618","x":663.4444351196289,"y":358.5555772781372,"wires":[]},{"id":"57b589f1.7711d8","type":"delay","z":"b127bae0.237fd8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":403.1000061035156,"y":102.20000171661377,"wires":[["270650e8.d5d3","2ef8569a.64889a"]]},{"id":"9ba70e55.e69d9","type":"mqtt out","z":"b127bae0.237fd8","name":"Baba Eletronica","topic":"SomQuartoBebe","qos":"","retain":"","broker":"8ff53aa6.e05988","x":334.10005950927734,"y":522.0000057220459,"wires":[]},{"id":"7b311af8.d7ab94","type":"mqtt out","z":"b127bae0.237fd8","name":"","topic":"BabaEletronica","qos":"","retain":"","broker":"d49285f0.917308","x":673.1000366210938,"y":448,"wires":[]},{"id":"461f762f.5e5618","type":"arduino-board","z":"","device":"COM3"},{"id":"c652ba1a.382fa8","type":"ui_group","z":"","name":"Teste","tab":"289863a9.1f41dc","disp":true,"width":"6","collapse":false},{"id":"8ff53aa6.e05988","type":"mqtt-broker","z":"","name":"","broker":"a2wunufxxu8ui2-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"c7c1bce0.141f","clientid":"BabaEletronica","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d49285f0.917308","type":"mqtt-broker","z":"","name":"BabaEletronica","broker":"a2wunufxxu8ui2-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"c7c1bce0.141f","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"289863a9.1f41dc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c7c1bce0.141f","type":"tls-config","z":"","name":"AWS","cert":"E:\\Google Drive\\Fiap\\Aulas\\IOT\\trabalho final\\ba99ac153c-certificate.pem.crt","key":"E:\\Google Drive\\Fiap\\Aulas\\IOT\\trabalho final\\ba99ac153c-private.pem.key","ca":"E:\\Google Drive\\Fiap\\Aulas\\IOT\\trabalho final\\rootCa.pem","certname":"79f4b58309-certificate.pem.crt","keyname":"79f4b58309-private.pem.key","caname":"rootCa.perm","servername":"","verifyservercert":true}]